name: Go

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  go:
    uses: openconfig/common-ci/.github/workflows/basic_go.yml@49fc521890a243722b1fd43d70d170e46602a787
    with:
      skip-staticcheck: true
    permissions:
      contents: read
      statuses: write
